body {
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.image-container img {
    position: absolute;
    width: 100px; 
    height: auto;
}
